{% extends 'main/base.html' %}
{% load static %}
 
{% block content %}

{% include 'main/header.html' %}

<body style="padding-top: 70px;">
	<div class="container" id="main">
		<div class="row">
			<div class="col col-12 d-flex justify-content-center">
				<div class="embed-responsive" style="width:90%; padding-bottom:105%">
					<iframe src="https://onedrive.live.com/embed?cid=6539F1CF8931BA80&resid=6539F1CF8931BA80%2110464&authkey=ALiLH_jojwmkJSE&em=2" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col col-12 project">
		   		<small>Copyright 2021 Luke Bordonaro</small>
			</div>
		</div>
	 </div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	    <script src="{% static 'main/js/modal.js' %}"></script>
</body>

{% endblock %}

